* {
    box-sizing: border-box;
    margin: 0 auto;
}

div {
    width: 800px;
    border: 1px solid black;
    padding: 10px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#homeButton {
    margin-right: 50px;
}

.slide {
    margin: 30px;
}

#L {
    text-align: left;
}

#R {
    text-align: right;
}