*{
    box-sizing: border-box;
    margin: 0 auto;
}
#container{
    width: 1000px;
    height: 1200px;
}
#background{
    width: 1000px;
    height: 1200px;
    position: absolute;
    z-index: 1;
}
#img_index{
    z-index: 2;
    position: absolute;

}
#container div img{
    position: relative;
    margin: 0 auto;
    left: 25%;
}