*{
    box-sizing: border-box;
    margin: 0 auto;
}
#container{
    width: 800px;
    height: 1000px;
    border: 1px solid grey;
    background: url(../images/background.jpg);
}
#container img{
    display: block;
    width: 400px;
}